img {
    margin: px;
    transition: all 0.2s linear;
    filter: grayscale(100%);

}
img:hover{
    filter: grayscale(0%);
}
.porto{
    color: rgb(100, 16, 16);
    text-align: center;
    text-decoration:overline;
}
.h3{
    text-align: center;
}
.link{
    margin: 15px;
    color: rgb(248, 244, 244);
    font-size: small;
}
nav{
    background-color: rgb(56, 18, 18);
    height: 25px;
}