.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .nav li {
    float: left;
  }
  
  .nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav li a:hover {
    background-color: rgb(65, 4, 4);
  }
img {
    margin: px;
    transition: all 0.2s linear;
    /* filter: grayscale(100%); */
    filter:sepia(70%);
}
img:hover{
    filter: grayscale(0%);
}
.porto{
    color: rgb(100, 16, 16);
    text-align: center;
    text-decoration:overline;
    margin-top: 60px;
}
.h3{
    text-align: center;
    margin-bottom: 40px;
}
.link{
    margin: 15px;
    color: rgb(248, 244, 244);
    font-size: small;
}
nav{
    background-color: rgb(56, 18, 18);
    height: 25px;
}

