img {
    margin: px;
    transition: all 0.2s linear;
    filter: grayscale(100%);

}
img:hover{
    filter: grayscale(0%);
}
.porto{
    color: rgb(100, 16, 16);
    text-align: center;
    text-decoration:overline;
}
.h3{
    text-align: center;
    text-decoration-color: aqua;
}
.link{
    color: rgb(100, 16, 16);
    font-size: x-small;
    background-color: grey;
}
